.market__home {
  padding-top: 12rem;
  overflow-x: hidden;
}

.initial__title,
.initial__subtitle {
  color: var(--color-purple-3);
  margin-left: 10%;
  text-align: left;
}

.market__home .initial__title {
  margin-bottom: 1rem;
  font-size: 3rem;
  font-weight: 700;
}

.market__home h3 {
  margin-bottom: 2rem;
  font-size: 1.75rem;
  font-weight: 500;
}

.market__home .market__card {
  margin: 7rem 5%;
  position: relative;
  border-radius: 3rem;
  transition: filter 0.2s ease-out;
}

.market__home .market__card:hover {
    filter: drop-shadow(0px 0px 10px var(--color-red));
    cursor: pointer;
}

.market__card .bg__img {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 50%;
  overflow: hidden;
  z-index: 1;
}

.market__card .bg__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 0 3rem 3rem 0;
}

.market__card .product__info {
  height: 400px;
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
  border-radius: 3rem;
  gap: 50px;
  z-index: 2;
}

.product__info .title {
  color: var(--color-white);
  font-size: 4rem;
  font-weight: 700;
}

/*--------------------  --------------------------*/

.market__home .health__section__card {
  background-color: var(--color-purple-3);
}

.health__section__card .product__info {
  background: linear-gradient(
    90deg,
    rgba(var(--color-purple-3-rgb), 1) 50%,
    rgba(var(--color-purple-3-rgb), 0.6) 100%
  );
}

.health__section__card .product__info img {
    height: 600px;
    filter: drop-shadow(10px 10px 10px black);
    transform: rotateY(180deg);
  }

.market__home .pets__section__card {
    background-color: var(--color-purple-1);
  }
  
  .pets__section__card .product__info {
    background: linear-gradient(
      90deg,
      rgba(var(--color-purple-1-rgb), 1) 50%,
      rgba(var(--color-purple-1-rgb), 0.6) 100%
    );
  }

  .pets__section__card .product__info img {
    height: 500px;
    margin-left: 50px;
    filter: drop-shadow(10px 10px 10px black);
  }
