.products h1 {
  color: var(--color-purple-2);
  margin-left: 10%;
  margin-bottom: 2rem;
  font-size: 2.5rem;
  font-weight: 700;
}

.products .container {
  height: 100%;
  padding: 0 5%;
  display: flex;
  align-items: center;
}

.product__card {
  background-color: var(--color-purple-3);
  padding: 2rem 5%;
  display: flex;
  justify-content: space-between;
  border-radius: 3rem;
}

.product__info {
  width: 60%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.product__info h3 {
  color: var(--color-white);
  font-size: 1.15rem;
  font-weight: 700;
  align-self: flex-start;
}

.product__info .btn {
  width: auto;
  padding: 1rem;
  font-size: 1rem;
}

.product__img {
  width: 25%;
}

.product__img img {
  height: 100%;
  width: 100%;
  transform: scaleY(2.5) scaleX(6) translateY(-5px);
  filter: drop-shadow(10px 10px 10px black);
}
