:root {
  /* Rojos y naranjas */
  --color-red: #e12f22;
  --color-orange: #ec7e22;
  --color-yellow: #f3ad0b;
  --color-blue: #00afd3;

  /* Azules principales */
  --color-blue-1: #00b5eb;
  --color-blue-2: #5bc4f1;
  --color-blue-3: #0b8dce;
  --color-blue-4: #8bd2f5;


  /* Azules claros */
  --color-light-blue-1: #b9e2f9;
  --color-light-blue-2: #3e98d4;
  --color-light-blue-3: #3a84c5;
  --color-light-blue-4: #2c55a1;


  /* Morados */
  --color-purple-1: #5356a1;
  --color-purple-2: #582f87;
  --color-purple-3: #673583;
  --color-white: #ffffff;

  /* RGB */
  --color-purple-1-rgb: 83, 86, 161;
  --color-purple-2-rgb: 83, 86, 161;
  --color-purple-3-rgb: 103, 53, 131;
}
