.solutions_card {
  height: 90vh;
  width: 100vw;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.card_container {
  height: 75%;
  width: 90%;
  margin: 0 5%;
  box-sizing: content-box;
  display: flex;
  border-radius: 3rem;
}

.left_side {
  color: var(--color-purple-2);
  width: 50%;
  padding: 4rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-size: 1.5vw;
}

.left_side .text_title {
  display: flex;
  gap: 15px;
  font-weight: bold;
  line-height: 1.5;
}

.left_side .text_description {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
}

.text_description p {
  text-align: start;
  line-height: 1.45;
}

.right_side {
  height: 100%;
  width: 50%;
}

.right_side img {
  height: 100%;
  width: 100%;
  border-radius: 0 3rem 3rem 0;
}

.accept_btn {
  background-color: var(--color-orange);
  color: var(--color-white);
  width: fit-content;
  border: none;
  border-radius: 1rem;
  padding: 1rem 2rem;
  font-size: 1.1rem;
  font-weight: 600;
  cursor: pointer;
}
