.solutions_card {
  width: 100vw;
  margin: -5rem 0 2.5rem;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.card_container {
  background-color: var(--color-white);
  height: 90%;
  width: 100%;
  box-sizing: content-box;
  display: flex;
  flex-direction: column-reverse;
  position: relative;
  border-radius: 3rem;
}

.left_side {
  color: var(--color-purple-2);
  width: 100%;
  padding: 2rem 1rem;
  box-sizing: border-box;
  display: flex;
  justify-content: space-evenly;
}

.left_side .text_title {
  display: flex;
}

.left_side img {
  width: 7rem;
  margin-right: 15px;
}

.left_side .solutions_title {
  color: var(--color-white);
  position: absolute;
  top: 30%;
  font-size: 1.25rem;
  font-weight: bold;
  line-height: 1.5;
}

.left_side .text_description {
  display: flex;
  flex-direction: column;
}

.text_description p {
  color: var(--color-purple-2);
  text-align: start;
  white-space: pre-line;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.25;
}

.right_side {
  width: 100%;
  margin: 0 5% 0 0;
  display: flex;
  justify-content: flex-end;
}

.right_side img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 0 3rem 3rem 0;
}

.accept_btn {
  background-color: var(--color-orange);
  color: var(--color-white);
  width: fit-content;
  border: none;
  border-radius: 1rem;
  padding: 1rem 2rem;
  font-size: 1.1rem;
  font-weight: 600;
  cursor: pointer;
}
